extends ../shared/template

block content
  h1 Album List

  form(method='POST', action='/albums', enctype='multipart/form-data')
    input(type='text', name='title', placeholder='Title', autofocus=true)
    input(type='date', name='date')
    input(type='file', name='photos', multiple=true)
    button.button.button-action Add Album

  table
    thead
      th Album
      th Date
    tbody
      each album in albums
        tr
          td: a(href='/albums/#{album._id}')= album.title
          td= album.date.toDateString()
